<title>TasteHub</title>
<mat-toolbar color="primary" class="navbar">
    <span class="navbar-brand">TasteHub</span>
    <p>Role: {{ roleService.getRole() }}</p>
    <span class="spacer"></span>
    <app-product-search ></app-product-search>
    <button mat-button routerLink="/home" routerLinkActive="active">Home</button>
   <!-- <button mat-button routerLink="/shop" routerLinkActive="active">Shop</button>-->
    <button mat-button *ngIf="roleService.isAdmin()" routerLink="/add" routerLinkActive="active">Add Product</button>
    <button mat-button *ngIf="(roleService.isCustomer() || !roleService.isAdmin())"routerLink="/products" routerLinkActive="active">Product</button>
    <button mat-button *ngIf="roleService.isAdmin()" routerLink="/products" routerLinkActive="active">Product List</button>
    <button mat-button *ngIf="roleService.isCustomer()" routerLink="/track-order" routerLinkActive="active">Track Order</button>
    <button mat-button *ngIf="roleService.isCustomer()" routerLink="/order" routerLinkActive="active">Order</button>
    <button mat-button *ngIf="(!roleService.isCustomer() && !roleService.isAdmin())" routerLink="/signup" routerLinkActive="active">SignUp</button>
    <button mat-button *ngIf="(!roleService.isCustomer() && !roleService.isAdmin())" routerLink="/login" routerLinkActive="active">Login</button>
    <button mat-button *ngIf="(roleService.isCustomer() || roleService.isAdmin())"routerLink="/logout" routerLinkActive="active">Logout</button>
    <button mat-button *ngIf="roleService.isCustomer()" routerLink="/cart" routerLinkActive="active"><i class="fas fa-shopping-cart"></i></button>
    <button mat-button *ngIf="(!roleService.isCustomer() && !roleService.isAdmin())" routerLink="/login" routerLinkActive="active"><i class="fas fa-shopping-cart"></i></button>
</mat-toolbar>
<router-outlet></router-outlet>
<app-footer></app-footer>
